releases/ filter=lfs diff=lfs merge=lfs -text
build/KarlCryptoBot-mac-x64/KarlCryptoBot.app/Contents/Frameworks/Electron[[:space:]]Framework.framework/Versions/A/Electron[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
